<div class="main-container">
    <h1>Joke App</h1>
    <div class="joke-container">
        <h3>Joke Attuale</h3>
        <p>{{ joke.setup }}</p>
        <p *ngIf="!joke.setup">{{ joke.joke }}</p>
        <p *ngIf="joke.setup">{{ joke.delivery }}</p>
        <div class="btn-container">
            <button class="btn btn-like" (click)="add(true)">Like</button>
            <button class="btn btn-dislike" (click)="add(false)">Dislike</button>
        </div>
    </div>

    <div class="liked-container">
        <h3>Joke piaciuti</h3>
        <div class="liked-joke" *ngFor="let joke of likedJokes; index as i">
            <div class="joke">
                <div class="index">{{i + 1}}</div>
                <div class="text">
                    <p>{{ joke.setup }}</p>
                    <p *ngIf="!joke.setup">{{ joke.joke }}</p>
                    <p> {{ joke.delivery }}</p>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn btn-dislike" (click)="swap(i, false)">Dislike</button>
            </div>
        </div>
    </div>

    <div class="disliked-container">
        <h3>Joke non piaciuti</h3>
        <div class="disliked-joke" *ngFor="let joke of dislikedJokes; index as i">
            <div class="joke">
                <div class="index">{{i + 1}}</div>
                <div class="text">
                    <div> {{ joke.setup }} </div>
                    <p *ngIf="!joke.setup">{{ joke.joke }}</p>
                    <div> {{ joke.delivery }}</div>
                </div>
            </div>

            <div class="btn-container">
                <button class="btn btn-like" (click)="swap(i, true)">Like</button>
            </div>
        </div>
    </div>