.container {
    display: flex;
    align-items: center;
}

span {
    margin: 0 10px;
}

.fullname {
    font-weight: 600;
}

.avatar {
    max-width: 20%;
    margin-right: 10px;
    display: flex;
}

img {
    width: 100%;
}

/* ROLE */
.staff {
    border: 3px solid rgb(6, 6, 153);
    border-radius: 5px;
}

.manager {
    border: 3px solid lightseagreen;
    border-radius: 5px;
}

.admin {
    border: 3px solid rgb(166, 175, 177);
    border-radius: 5px;
}