.container {
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

.user {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    margin: 15px 0;
    justify-content: space-between;
}

.fullname {
    font-weight: 600;
}

.avatar {
    max-width: 20%;
    display: flex;
}

img {
    width: 100%;
}

.li-marker {
    margin-right: 10px;
}

/* ROLE */
.staff {
    border: 3px solid rgb(6, 6, 153);
    border-radius: 5px;
}

.manager {
    border: 3px solid lightseagreen;
    border-radius: 5px;
}

.admin {
    border: 3px solid rgb(166, 175, 177);
    border-radius: 5px;
}