.container {
    background-color: #EFEBCE;
    border: 1px solid #D6CE93;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding-top: 10px;
}

div {
    margin: 15px 0;
    font-size: 1.25em; 
}

.deleted {
    display: none;
}