
.container {
    background-color: #EFEBCE;
    border: 1px solid #D6CE93;
    border-radius: 10px;
    width: 500px;
}

li {
    margin: 15px 0;
    font-size: 1.5em; 
}

.content {
    display: flex;
    align-items: center;
}

span {
    margin: 0 10px; 
}

.fullname {
    font-weight: 600;
}

.avatar {
    max-width: 20%; 
    margin-right: 10px;
}

img {
    width: 100%;
}